.btn-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'noto sans', sans-serif;
}
@media (min-width: 500px) {
  body {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Noto Sans', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.85rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
button {
  font-size: 2rem;
  padding: 1rem 4rem;
  width: 75%;
  background-color: #787f84;
  color: #c1f4c9;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
  margin: 2.5rem 0 1rem 0;
}
@media (min-width: 500px) {
  button {
    font-size: 1.6rem;
  }
}
button:hover {
  background-color: #c1f4c9;
  color: #787f84;
}
header {
  width: 100%;
  height: 500px;
  background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #dee7e1 10%, #c1f4c9 30%, #bbe5cb);
}
header .text-and-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
header img {
  width: 20%;
}
header h1 {
  color: black;
}
header p {
  margin-top: 2rem;
  width: 70%;
  color: #787f84;
}
header .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
header .buttons .signup {
  padding: 1rem 4rem;
  width: 75%;
  background-color: #c1f4c9;
  color: #787f84;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
  margin: 1rem 0 2.5rem 0;
}
@media (min-width: 500px) {
  header .buttons .signup {
    font-size: 1.6rem;
  }
}
header .buttons .signup:hover {
  background-color: #787f84;
  color: #c1f4c9;
}
header .buttons .login {
  padding: 1rem 4rem;
  width: 75%;
  background-color: #787f84;
  color: #c1f4c9;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
  margin: 2.5rem 0 1rem 0;
}
@media (min-width: 500px) {
  header .buttons .login {
    font-size: 1.6rem;
  }
}
header .buttons .login:hover {
  background-color: #c1f4c9;
  color: #787f84;
}
.section-divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-divider .divider-h1 {
  font-family: sans-serif;
  padding-bottom: 2rem;
  text-align: center;
}
.section-divider .divider-h3 {
  font-family: sans-serif;
  text-align: center;
}
.section-divider .divider-bar {
  height: 5px;
  width: 33%;
  background-color: black;
  margin: 4rem 0 ;
}
.feature-description {
  background-image: linear-gradient(135deg, #787f84 25%, #bbe5cb 75%, #fefefe);
}
.feature-description .icons-and-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 500px) {
  .feature-description .icons-and-txt {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
.feature-description .icons-and-txt .desktop-img {
  padding: 2rem;
  width: 45%;
  display: none;
}
@media (min-width: 500px) {
  .feature-description .icons-and-txt .desktop-img {
    display: block;
  }
}
.feature-description .icons-and-txt .feature-icon-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 4%;
}
@media (min-width: 500px) {
  .feature-description .icons-and-txt .feature-icon-container {
    display: none;
  }
}
.feature-description .icons-and-txt .feature-icon-container img {
  width: 96px;
  height: 96px;
  padding: 1%;
}
@media (min-width: 500px) {
}
.feature-description .icons-and-txt .feature-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
  color: white;
}
@media (min-width: 500px) {
  .feature-description .icons-and-txt .feature-text-container {
    width: 50%;
  }
}
.feature-description .icons-and-txt .feature-text-container .feature-header {
  padding: 0 2rem 2rem 2rem;
  color: white;
  width: 100%;
  align-content: center;
}
.feature-description .icons-and-txt .feature-text-container p {
  padding: 2rem;
}
.feature-description .icons-and-txt .feature-text-container .divider {
  height: 5px;
  width: 33%;
  background-color: black;
  margin: 2rem;
}
@media (min-width: 500px) {
  .feature-description .icons-and-txt .feature-text-container .divider {
    display: none;
  }
}
.feature-description .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.feature-description .buttons .signup {
  padding: 1rem 4rem;
  width: 75%;
  background-color: #c1f4c9;
  color: #787f84;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
  margin: 1rem 0 2.5rem 0;
}
@media (min-width: 500px) {
  .feature-description .buttons .signup {
    font-size: 1.6rem;
  }
}
.feature-description .buttons .signup:hover {
  background-color: #787f84;
  color: #c1f4c9;
}
.feature-description .buttons .login {
  padding: 1rem 4rem;
  width: 75%;
  background-color: #787f84;
  color: #c1f4c9;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
  margin: 2.5rem 0 1rem 0;
}
@media (min-width: 500px) {
  .feature-description .buttons .login {
    font-size: 1.6rem;
  }
}
.feature-description .buttons .login:hover {
  background-color: #c1f4c9;
  color: #787f84;
}
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.testimonials .divider {
  height: 5px;
  width: 33%;
  background-color: black;
  margin: 4rem 0 2rem 0;
}
.testimonials .testimonial-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials .testimonial-intro .test-h1 {
  font-family: sans-serif;
  padding: 2.5rem 0;
}
.testimonials .testimonial-intro .test-h3 {
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 2.5rem;
}
.testimonials .user-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials .user-stories div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials .user-stories .user-container {
  margin: 2rem 0;
  padding: 2rem 2rem 1rem 2rem;
  border: 1px dashed black;
}
.testimonials .user-stories .user-container h3 {
  padding-top: 1rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.buttons .signup {
  padding: 1rem 4rem;
  width: 75%;
  background-color: #c1f4c9;
  color: #787f84;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
  margin: 1rem 0 2.5rem 0;
}
@media (min-width: 500px) {
  .buttons .signup {
    font-size: 1.6rem;
  }
}
.buttons .signup:hover {
  background-color: #787f84;
  color: #c1f4c9;
}
.buttons .login {
  padding: 1rem 4rem;
  width: 75%;
  background-color: #787f84;
  color: #c1f4c9;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
  margin: 2.5rem 0 1rem 0;
}
@media (min-width: 500px) {
  .buttons .login {
    font-size: 1.6rem;
  }
}
.buttons .login:hover {
  background-color: #c1f4c9;
  color: #787f84;
}
footer {
  text-align: center;
}
