/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.85rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
button {
  font-size: 2rem;
}
header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #dee7e1 10%, #c1f4c9 30%, #bbe5cb);
}
header img {
  width: 20%;
}
header button {
  padding: 2rem 4rem;
  background-color: #787f84;
  color: #c1f4c9;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
}
@media (min-width: 500px) {
  header button {
    font-size: 1.6rem;
  }
}
header button:hover {
  background-color: #c1f4c9;
  color: #787f84;
}
.feature-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(135deg, #787f84 25%, #c1f4c9 75%, #bbe5cb);
}
.feature-description h2 {
  padding: 2rem;
  background-color: white;
}
.feature-description .feature-icon-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4%;
  border: 1px solid red;
}
.feature-description .feature-icon-container img {
  max-width: 50%;
  padding: 1%;
}
.feature-description .feature-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid red;
  color: white;
}
.feature-description .feature-text-container p {
  padding: 2rem;
}
.feature-description button {
  padding: 2rem 4rem;
  background-color: #787f84;
  color: #c1f4c9;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
  width: 50%;
}
@media (min-width: 500px) {
  .feature-description button {
    font-size: 1.6rem;
  }
}
.feature-description button:hover {
  background-color: #c1f4c9;
  color: #787f84;
}
.testimonials {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 0 2rem;
}
.testimonials .test-h1 {
  font-family: sans-serif;
  padding: 2.5rem 0;
}
.testimonials .test-h3 {
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 5rem;
}
.testimonials .divider {
  height: 5px;
  width: 33%;
  background-color: black;
}
.testimonials .testimonial-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  padding: 2rem;
}
.testimonials .user-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials .user-stories div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials button {
  padding: 2rem 4rem;
  background-color: #787f84;
  color: #c1f4c9;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
  width: 33%;
}
@media (min-width: 500px) {
  .testimonials button {
    font-size: 1.6rem;
  }
}
.testimonials button:hover {
  background-color: #c1f4c9;
  color: #787f84;
}
