// .planty{
//     height: 100px;
//     width: 100%;
//     background-image: 

//     linear-gradient(
//     @light-grey (255, 0, 0, 0.45), 
//     @light-green(255, 0, 0, 0.45)
//     ),

//     url(images/jungle.jpg);
// }

.header {
    
    width: 100%;
    height: 50px;
    background-image:linear-gradient(135deg, @dark-grey 25%, @dark-green 75%, @whiteish);
    color: white;
    .flex(space-between, center);
    position: fixed;
    top: 0;
    z-index: 2;
  
    @media @tablet {
        height: 75px;
    }
    h1 {
      margin: 0;
      font-size: 2rem;

      @media @tablet {
          font-size: 3rem;
      }
    }
    .logo-icon{
      width: 48px;
      height: 48px;
      margin-right: 1rem;

      @media @tablet {
          width: 64px;
          height: 64px;
          margin-right: 2rem;
      }
    }
    .menu-button{
      margin-left: 1rem;
      cursor: pointer;

      @media @tablet {
          margin-left: 2rem;
      }
    } 
}

.menu {
    display: none;
    position: relative;
    left: 0;
    top: 50px;
    width: 25%;
    height: 30vh;
    background-color: @dark-green;
    border: 1px solid @dark-grey;
    border-top: none;
    border-left: none;
    z-index: 2;

    @media @tablet {
        top: 75px;
    }
    
    li {
        list-style-type: none;
        font-size: 2rem;
        text-align: center;
        padding: 2rem 0;
    }
}

.menu-open {
    display: block;
}

.cta {
    width: 100%;
    background-image: linear-gradient(45deg, #dee7e1 10%, #c1f4c9 50%, #bbe5cb);
    @media @mobile {
        margin-top: 50px;
    }
    @media @tablet {
        margin-top: 75px;
    }
    .column-centered-section();
    
    img {
        width: 100%;
        height: 100%;
        margin: 4rem;
        padding: 0 2rem;
        // .border-radius(5%);
    }  

    .cta-text {
        margin: 0 4rem 4rem 4rem;
        padding: 0 2rem;

        h1 {
            margin-bottom: 2rem;

        }

        p {
            color: @dark-grey;
        }
    }

    .buttons {
        width: 100%;
    }
}

  
.section-divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    padding: 0 2rem;

    .divider-h1 {
        font-family: sans-serif;
        padding-bottom: 2rem; 
        text-align: center;
    }

    .divider-h3 {
        font-family: sans-serif;
        text-align: center;
    }  

    .divider-bar {
        height: 5px;
        width: 33%;
        background-color: black;
        margin: 4rem 0 ;
        
    }
}

.feature-description {
    background-image:linear-gradient(135deg, @dark-grey 25%, @dark-green 75%, @whiteish);
    
    .icons-and-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;        
        
        @media @desktop {
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
        }
        .desktop-img {
            padding: 2rem;
            width: 45%;
            display: none;
            @media @desktop {
                display: block;
            }

        }
        .feature-icon-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 4%;
    
            @media @desktop {
                display: none;
    
            }
    
            
    
            img {
                width: 96px;
                height: 96px;
                padding: 1%;
                // width: 100px;
                // height: 100px;
    
                @media @desktop {
                    // width: 200px;
                    // height: 200px;
                }
    
            }
    
        }
        .feature-text-container {
            .column-centered-section;
            padding-top: 2rem;
            width: 100%;
            // border: 1px solid red;
            color: white;
    
            @media @desktop {
                width: 50%;
            }
            .feature-header {
                padding: 0 2rem 2rem 2rem;
                color: white;
                width: 100%;
                align-content: center;
    
            }
            
            p {
                padding: 2rem;
            }
           
            .divider {
                height: 5px;
                width: 33%;
                background-color: black;
                margin: 2rem;
    
                @media @desktop {
                    display: none;
                }
                
            }
        }
    }

    

    .buttons {
        .btn-stack();

        .signup {
            .signup-btn();
        }
        .login {
            .login-btn();
        }
      }

}


.testimonials {
    // max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    padding: 0 2rem;

    .user-stories {
        
        .width-100();
        .flex(center, center);
        position: relative;
        overflow: hidden;
        margin-top: 1.6rem;
        @media(min-width: 800px){
            width: 800px;
        }
        .left-button, .right-button {
            .flex(center);           
            color: @dark-grey;
            background-color: @light-grey;
            font-size: 40px;
            border-radius: 50%;
            position: absolute;
            width: 5rem;
            height: 5rem;
            cursor: pointer;
            &:hover {
                color: @light-grey;
                background-color: @dark-grey;
                border: 2px solid @light-grey;
            }
        }
        .left-button {
            top: 50%;
            left: 2.5rem;
            transform: translate(0, 50%);
        }
        .right-button {
            top: 50%;
            right: 2.5rem;
            transform: translate(0, 50%);
        }
        .user-container {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .width-100();
            margin: 2rem 0;
            padding: 2rem 2rem 2rem 2rem;
            border: 1px dashed black;
    
            h3 {
                padding-top: 1rem;
            }        
        }
    }    
}


footer {
    text-align: center;
}