// .planty{
//     height: 100px;
//     width: 100%;
//     background-image: 

//     linear-gradient(
//     @light-grey (255, 0, 0, 0.45), 
//     @light-green(255, 0, 0, 0.45)
//     ),

//     url(images/jungle.jpg);
// }


.feature-description {
    background-image:linear-gradient(135deg, @dark-grey 25%, @dark-green 75%, @whiteish);

    
   
    .icons-and-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;        
        
        @media @desktop {
            display: flex;
            flex-flow: row wrap;
        }
    }

    .feature-icon-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 4%;

        @media @desktop {
            .column-centered-section;
            width: 48%;
            border: 1px solid red;

        }

        .feature-header {
            padding: 0 2rem 2rem 2rem;
            color: white;
            width: 100%;
            align-content: center;

        }

        img {
            max-width: 50%;
            padding: 1%;
            width: 100px;
            height: 100px;

            @media @desktop {
                width: 200px;
                height: 200px;
            }

        }

    }
    .feature-text-container {
        .column-centered-section;
        width: 100%;
        border: 1px solid red;
        color: white;

        @media @desktop {
            width: 48%;
        }
        h1 {
            padding: 2rem;
        }
        p {
            padding: 2rem;
        }
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        .divider {
            height: 5px;
            width: 33%;
            background-color: black;

            @media @desktop {
                display: none;
            }
            
        }
    }

    .buttons {
        .btn-stack();

        .signup {
            .signup-btn();
        }
        .login {
            .login-btn();
        }
      }

}


.testimonials {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    padding: 0 2rem;
    
    .testimonial-intro {
        .column-centered-section;
        margin-top: 1px;
        padding: 2rem;
      
        .test-h1 {
            font-family: sans-serif;
            padding: 2.5rem 0;
        }
    
        .test-h3 {
            font-family: sans-serif;
            text-align: center;
            padding-bottom: 5rem;
        }
    
        .divider {
            height: 5px;
            width: 33%;
            background-color: black;
            
        }
    
    } 
    
    .user-stories {
        .column-centered-section;
        div {
            .column-centered-section;
        }

        .user-container {
            margin: 2rem 0;
            padding: 2rem 2rem 1rem 2rem;
            border: 1px dashed black;

            h3 {
                padding-top: 1rem;
            }
        }
    }

    .buttons {
        .btn-stack();

        .signup {
            .signup-btn();
        }
        .login {
            .login-btn();
        }
      }

}

footer {
    text-align: center;
}