// .main-nav {
//   background: @main-nav-bg-color;
//   color: @main-nav-color;

//   .top-menu {
//     h1 {
//       text-align: center;
//       font-size: 1.6rem;
//       padding: 20px;

//       a {
//         text-decoration: none;

//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//   } 
// }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

